.media-thumbnail__container {
  width: fit-content;
  border: none;
  .media-thumbnail__image {
    height: 175px;
    width: 250px;
  }
  .media-thumbnail__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .media-thumbnail__title {
      width: 90%;
    }
    .media-thumbnail__release-year {
      width: 90%;
    }
  }
}
