.media-thumbnail__container {
  width: fit-content;
  .media-thumbnail__image {
  }
  .media-thumbnail__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .media-thumbnail__title {
    }
    .media-thumbnail__release-year {
    }
  }
}
