.form__container {
  .form__error-container {
    margin-bottom: 1rem;
  }
  .form__element {
    display: grid;
    flex-direction: column;
    width: 100%;
    .form__input {
      place-self: center;
    }
    .form__submit-button {
      margin: 0.5rem;
      margin-bottom: 0;
    }
  }
}
