.thumbnail__container {
  width: fit-content;
  border: none;
  .thumbnail__image {
    height: 175px;
    width: 250px;
  }
  .thumbnail__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .thumbnail__primary-text {
      width: 90%;
    }
    .thumbnail__secondary-text {
      width: 90%;
    }
  }
}
